@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}body{
    display: grid;
    grid-template-columns: minmax(200px, 0.25fr) 1fr;
    grid-template-rows: 69px 1fr;
    width: 100%;
}.nav{
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: rgb(202, 116, 4);
}.nav-item{
    background: none;
    font-size: 1.5rem;
    font-weight: 800;
    border: none;
    padding:  20px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}.nav-item:hover{
    background-color: rgb(139, 80, 3);
    color: white;
    text-decoration: underline white 1px;
}.logo{
    text-align: center;
    padding: 20px;
    background-color: rgb(139, 80, 3);
    color: white;
}.menu-bar{
    width: 100%;
    background-color: rgb(139, 80, 3);
    height: 69px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
}.menu-item{
    background: none;
    padding: 0;
    margin: 0;
    font-size: 0.79rem;
    border:none;
    /* padding: 20px; */
    color: white;
    gap: 20px;
    width: 44px;
    height: 44px;
    margin: 20px;
}.fa-user{
    border: white 2px solid;
    border-radius: 2rem;
    padding: 5px;
    width: 2rem;
    height: 2rem;
    margin: 0;
}.todo-list{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}.todo-item{
    display: grid;
    grid-template-columns: 80px 1fr 1fr 90px;
    width: 100%;
    padding: 20px;
    position: relative;
    border-bottom: 1px black solid;
    align-items: center;

}main{
    display: flex;
    justify-content: center;

}.todo-text{
    grid-column: 2;
}.todo-done{
    grid-column: 1;
    /* position: absolute;
    top: 45px; */
    border:none;
    grid-row: 1; 
}.todo-due-date{
    text-align: center;
}.todo-remove{
    grid-column: 4;
    grid-row: 1; 
    border:none;
    background-color: red;
    color: white;
    padding: 5px;
    height: 48px;
    width: 48px;
    border-radius: 24px;
    margin: 10px;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
}.add-todo{
    width: 100%;
    height: 48px;
    border-radius: 24px;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    margin: 24px;
}.popup-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display:flex;
    justify-content: center;
    align-items: center;
}.popup{
    background-color: white;
    height: 50%;
    width: 50%;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 340px;
}.popup-close{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1rem;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    background:none;
    border: none;
}.popup-form{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
}.popup-form input, .popup-input-description{
    width: 100%;
    height: 48px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid;
}.popup-input-submit{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: rgb(202, 116, 4);
    color: white;
    font-weight: bold;
    font-size: 1rem;
}.headers{
    display: grid;
    grid-template-columns: 80px 1fr 1fr 90px;
    width: 100%;
    align-items: center;
}.header-text{
    text-align: center;
    padding: 10px;
}.reset{
    position: absolute;
    top: 0;
    left: 0;
}